#Ignore RData sets, csv files, rpt files
*.rpt
*.p
*.index
*.bbl
*.data-*
*.meta
*.txt
*.csv
*.RData
*.tar
*.log
*.pdf
*.png
*.Rproj*
*.Rhistory
*.e*
*.o*
*.aux
*.nav
*.gz
*.log
.DS_Store
.Rproj.user
.httr-oauth
*token_file
*.zip
*.tar
*.h5
*.xml
*.iml
*.html
*data*
*models*
*logs*
*training_data*
*results*
*simulation_res*
*real_data_res*
*__pycache__*
*.obj
*.npy